* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

/* --------------- CONTAINER PAGINA ---------------*/
.container {
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 0 20px; 
}

/* --------------- HEADER --------------- */
.site-header {
    width: 100%;
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 1;
}
.site-header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: var(--spacing-sm) 20px; 
}

.site-logo {
    width: 150px;
    height: auto;
    border-radius: var(--border-radius);
}
.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-list a {
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    text-decoration: none;
    color: var(--text-color);
    transition: color linear .2s;
}
.nav-list a:hover {
    color: var(--text-color-hover);
}

/* --------------- HERO --------------- */
.container-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.container-layout article p {
    line-height: 1.6;
}
.hero-section article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    font-family: var(--font-main);
    color: var(--text-color);
    
    max-width: 100%;
    width: 60%;
    padding-top: 4rem;
}
.hero-section .hero-actions{
    display: flex;
    gap: 5rem;
    text-decoration: none;
}
.btn {
    text-decoration: none;
    color: #ffff;
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}
.btn:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
    color: #ffff;
}
.nexora-mascota {
    width: 300px;
    height: auto;
}
